.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
}

.browse-companies hr {
    border: none;
    height: 1px;
    background: black;
    margin-right: 30px;
}

.job-listings {
    grid-column: span 3;
    margin-right: 30px;
}

.job-listings hr {
    border: none;
}

.job-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.job-cards {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}