{% extends 'main.html' %}

{% block content %}

{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/home.css' %}">

<h1>Home Page</h1>

<div class="home-container">

    <div class="browse-companies">
        <h3>Browse Companies</h3>
        <hr>

        <div>
            <a href = "{% url 'job-list' %}">All Job Listings</a>
        </div>

        {% for company in companies %}
            <div>
                <a href="{% url 'home' %}?q={{company.name}}">{{company.name}}</a>
            </div>
        {% endfor %}
    </div>



    <div class="job-listings">
        <h5>{{job_count}} job listings available</h5>
        <a href="{% url 'create-job' %}">Create Job Listing</a>


        <div>

            {% for  job in jobs %}
                <div>
                    {% if request.user == job.host %}
                    <a href="{% url 'update-job' job.id %}">Edit</a>
                    <a href="{% url 'delete-job' job.id %}">Delete</a>
                    {% endif %}
                    
                    <span>@{{job.host.username}}</span>
                    <h5><a href="{% url 'job' job.id %}">{{job.title}}</a></h5>
                    <small>{{job.company.name}}</small>
                    <hr>
                </div>


            {% endfor %}

        </div>
    </div>

</div>

{% endblock content %}