{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="top-home">
    <h1>Home Page</h1>

    {% if request.user.is_authenticated %}
        <p>Hello, {{request.user}}</p>
    {% endif %}
</div>

<div class="home-container">

    <div>
        <h3>Browse Companies</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for company in companies %}
            <div>
                <a href="{% url 'home' %}?q={{company.name}}">{{company.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{job_count}} job listings available</h5>
        <a href="{% url 'create-job' %}">Create Job Listing</a>


        <div>

            {% for  job in jobs %}
                <div>
                    {% if request.user == job.host %}
                    <a href="{% url 'update-job' job.id %}">Edit</a>
                    <a href="{% url 'delete-job' job.id %}">Delete</a>
                    {% endif %}
                    
                    <span>@{{job.host.username}}</span>
                    <h5>{{job.id}} -- <a href="{% url 'job' job.id %}">{{job.title}}</a></h5>
                    <small>{{job.company.name}}</small>
                    <hr>
                </div>


            {% endfor %}

        </div>
    </div>

    
</div>

{% endblock content %}