{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .menu a {
        display: block;
        margin-bottom: 10px;
        color: #007BFF;
        text-decoration: none;
    }

    .menu a:hover {
        text-decoration: underline;
    }

</style>

<div class="profile-container">

    <div>
        <h3>{{user.username}}'s NinerPathways Menu</h3>
        <hr>
        
            <a href="{% url 'home' %}">Bio</a>
            <a href="{% url 'home' %}">Contact Information</a>
            <a href="{% url 'home' %}">Resume</a>
            <a href="{% url 'home' %}">Portfolio</a>
        
    </div>

</div>
{% endblock content %}