{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>{{ user.username }}</h1>

<div class="profile-container"></div>

    <h3>About me: {{ user.bio }} </h3>

    <h3>Skills: </h3>
    {% if user.skills %}
        <p>{{ user.skills }}</p>
    {% else %}
        <p>No skills added yet</p>
    {% endif %}

    <h3>Resume: </h3>
    {% if user.resume %}
        <a href="{{ user.resume.url }}" download>Download Resume</a>
    {% else %}
        <p>No resume uploaded.</p>
    {% endif %}

    <h3>Portfolio: </h3>
    {% if user.portfolio %}
        <a href="{{ user.portfolio.url }}" download>Download Portfolio</a>
    {% else %}
        <p>No portfolio uploaded.</p>
    {% endif %}

    <a href="{% url 'update-user' %}">
        <button>Edit Profile</button>
    </a>

</div>

{% endblock content %}